@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f9f9f9;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container #game-wrapper {
  padding: 2.5rem 2rem;
  background-color: #293462;
  color: #fff;
  width: 400px;
}
.container #game-wrapper #modal {
  padding: 1rem 1.2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: none;
}

.container #game-wrapper #modal.active {
  display: block;
}

.container #game-wrapper #modal p {
  margin-right: 0.5rem;
}

.container #game-wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

.container #game-wrapper .text {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.container #game-wrapper .guess-input {
  width: 220px;
  outline: 0;
  border-radius: 3px;
  border: 0;
  padding: 8px;
}

.container #game-wrapper #guess-btn {
  width: 80px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.container #game-wrapper #guess-btn:hover {
  background-color: rgba(41, 52, 98, 0.9);
  color: #fff;
  border: 0.5px solid #f9f9f9;
}
